* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


header img {
  width: 64px;
}

header h2 {
  padding: 10px;
  margin-left: auto;
}

nav {
  background-color: rgb(30, 126, 210);
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px;
}

nav a:hover {
  background-color: black;
}

main {
  padding: 10px;
}

.button {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.button:hover {
  background-color: blue;
}


